<div id="make">
  <h3>Make</h3>
  <p>
    Originally invented to manage compilation of programs written in languages
    like C, Make can be used to automatically update any set of files that
    depend on another set of files. This makes it a good solution for many data
    analysis and data management problems. While there are many build tools now
    in existence (e.g. ANT and CMake) they share the same fundamental concepts
    as Make.
  </p>

  <div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#make-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#make-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#make-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="make-windows">
        <p>Use the <a href="https://github.com/swcarpentry/windows-installer/releases/download/v0.3/SWCarpentryInstaller.exe">Software Carpentry Windows Installer</a>.</p>
      </article>
      <article role="tabpanel" class="tab-pane active" id="make-macos">
        <p>
          For OS X, version 10.9 (Mavericks) or above, download the Command Line
          Tools by doing:    
        </p>
        <pre>xcode-select  --install</pre>
        <p>
          For more information, see the <a href="http://osxdaily.com/2014/02/12/install-command-line-tools-mac-os-x/">OSX Daily blog</a>.
        </p>
        <p>If you have an older OS X version and you do not already have 
           access to <code>make</code> from within
           your shell, you will need to install XCode (which is free, but
           over a gigabyte to download). 
        </p>
    <ul>
      <li>Go to the Apple app store</li>
      <li>Search for XCode</li>
      <li>Click <strong>Free</strong></li>
      <li>Click <strong>Install App</strong></li>
    </ul>
    <p>
    Once XCode has installed:
    <ul>
      <li>Click <strong>Applications</strong></li>
      <li>Click <strong>XCode</strong></li>
      <li>Select <strong>XCode &rarr; Preferences...</strong></li>
      <li>Click <strong>Downloads</strong></li>
      <li>Select <strong>Command Line Tools</strong></li>
      <li>Click <strong>Install</strong></li>
    </ul>
    </p>
    <p>You will now be able to run <code>make</code> within your shell.</p>
      </article>
      <article role="tabpanel" class="tab-pane active" id="make-linux">
        <p>
          Make is a standard tool on Linux systems and should already be available.
        </p>
      </article>
    </div>
  </div>
</div>